<div class="row">
  <div class="col-xs-12">
    <!-- <div class="alert alert-danger form-group" *ngIf="error">
      <p>{{error}}</p>
    </div> -->
    <app-alert [message]="error" *ngIf="error" (click)="onHandleError()"></app-alert>
    <div *ngIf="isLoading" style="text-align: center;">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
      <div class="row form-group">
        <label for="email">Email Id</label>
        <input
          type="email"
          class="form-control"
          name="email"
          ngModel
          required
          email>
      </div>
      <div class="row form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          ngModel
          required
          minlength="6"
          maxlength="10">
      </div>
      <div class="row form-group">
        <button
          class="btn btn-success"
          type="submit"
          [disabled]="!authForm.valid">{{isLoginMode ? 'Login' : 'SignUp'}}</button>
        <span> | </span>
        <button class="btn btn-primary" type="button" (click)="onSwitchMode()">Switch to {{!isLoginMode ? 'Login' : 'SignUp'}}</button>
      </div>
    </form>
  </div>
</div>
